* {
  margin: 0px;
  text-decoration: none;
  border-collapse: none;
  list-style: none;
  padding: 0px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #efe7e3;
}

#ser_img {
  margin-left: 10px;
  display: block;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.img {
  justify-content: center;
}

.profile-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  margin: 100px 100px;
}

#profile-picture {
  width: 400px;
  margin-right: 60px;
}

#rabbit-img {
  width: 150px;
  height: 150px;
  border: 1px solid #2B3856;
  transform: scale(1);
  border-radius: 70%;
}
/*
.menu-bar {
  position: fixed;
  background-color: #2b3856;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
*/


.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.index .img {
  margin-bottom: 50px;
}

.menu-bar {
  position: fixed;
  border: 0;
  background-color: #2B3856;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 목차 */
.index h3 {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
}

/* 목차 각 항목 반응형 커서 */
.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}

.frame {
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}
/*profile-section*/
.introduce-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  margin: 100px 100px;
  padding-left: 200px;
}

#introduce-picture {
  width: 400px;
  margin-right: 60px;
}

.introduction > h2 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

.introduction > p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 40px;
}

.mbti-types {
  font-size: 55px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
.mbti-imgs {
  margin-bottom: 20px;
}
.mbti-imgs img {
  width:150px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}
/* 하단 코멘트 */
.interests .comment {
  font-size: 16px;
  font-style: italic;
}